@import "tailwindcss";

@theme {
  --color-olivina: #98a67d;
  --color-olivina-dark: #7a8761;
  --color-olivina-light: #f4f5f0;
  --font-serif: "Playfair Display", serif;
}

/* ELIMINAR MÁRGENES DE RAIZ */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Evita el scroll horizontal */
  background-color: #ffffff;
}

/* Aseguramos que el contenedor de React también sea full width */
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}